
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 100vh;
}



header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px; 
  background-color: white;
  z-index: 2;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 5px 0;
}





.navbar {
  top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.nav-left{
  display: flex;
  align-items: center;
}

.nav-right{
  display: flex;
  align-items: center;
  position: relative;
}


.nav-center{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-left: 20px;
}

.nav-left{
  margin-right: 10px;
}

#menu-img {
  display: block;
  height: 20px;
}


.nav-left button{
  width: 50px;
  height: 50px;
  margin: 5px;
  background-color: rgb(255, 255, 255);
  border-radius: 100%;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 15px 8px;
  }



.nav-left button:hover {
    background-color: #cccccc;
    transition: background-color 0.8s ease;
}


.sidebar-inside {
  cursor: pointer;
}

.sidebar-content h1 img:hover {
  cursor: pointer;
}


#profpic {
  border: solid 2px white;
  border-radius: 100%;
  border: none;
  max-height: 35px;
}

#notify-pic{
  max-height: 30px;
}


#notify-button, #mic-button{
  background-color: rgb(255, 255, 255);
}

#search-button {
  border-radius: 0 40px 40px 0;
  background-color: #e9e9e9;
  margin-left: 0px;
  height: 42px;
  width: 55px;
}


#notify-button:hover, 
#mic-button:hover, 
#search-button:hover {
  background-color: #cccccc;
}


#mic-img {
  max-height: 25px;
  top: 12px;
  left: 12px;
}

#search-bar {
  width: 100%;
  max-width: 400px;
  padding: 10px 40px 10px 15px;
  border: 2px solid #ccc;
  border-radius: 20px 0px 0px 20px;
  font-size: 15px;
  transition: width 0.3s ease-in-out;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 20px;
}

#search-bar:focus {
  border-color: #007BFF;
  outline: none;
}



#search-icon{
  max-height: 20px;
}



.nav-right{
  margin-right: 10px;
  max-height: 20px;
}


.main-layout {
  display: flex;
  flex-grow: 1;
  min-height: 0;
}



.left-sidebar {
  position: fixed;
  top: 60px; 
  left: 0;
  width: 300px;
  height: calc(100vh - 100px);
  background-color: white;
  overflow-y: auto; 
  overflow-x: hidden;
  box-shadow: 3px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 1;
}



@media (max-width: 750px) {

.categorie{
  display: flexbox;
  flex-wrap: nowrap;
}

  .nav-left button{
    display: none;
  }
  .nav-left{
    margin-left: 10px;
  }

  .nav-center input{
    display: none;
  }

  .nav-center{
    justify-content: right;
  }

   .nav-central {
    display: flex;
    flex-wrap: nowrap !important;
    justify-content: flex-start !important;
    padding: 0px;
    overflow-x: auto;
    padding: 10px 10px;
    margin: 0 !important;
  }
  
  #mic-button{
    display: none;
  }

  #search-button {
    margin-right: 20px;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 40px;
  }

  .nav-right{
    display: none;
  }



  .central-layout {
    left: 0 !important;
    width: 100% !important; 
    height: 100% !important; 
    padding: 0 !important;
    padding-bottom: 20px !important;
    margin-bottom: 20px !important;
  }


  .mobile-navbar{
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    background-color: #222222;    ;
    width: 100% !important; 
    height: 55px;
    position: fixed !important;
    z-index: 20 !important;
    bottom: 0px;
    padding: 0px 30px;
  }

  .mobile-navbar button {
    height: 50px;
    width: 50px;
    border-radius: 200px;
    background-color:  transparent;
    border: none;
    justify-items: center;
    margin: 10px;
  }

  .mobile-navbar img{
    width: 35px;
    height: auto; 
    display: block;
  }

  #pic-nav-mobile{

    border-radius: 100px;
  }

  .svg-white {
    filter: invert(100%);
  }


  footer{
    position: static !important;
    display: none !important; 
  }

  .left-sidebar{
    width: 100%;
  }

  .sidebar-content{
    width: 100%;

  }


  .video-thumbnail img {
    width: 100% !important;
    height: 100% !important;
    border-radius: 10px;
    cursor: pointer;
  }

  .video-thumbnail img:hover {
    transform: scale(1.0) !important;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.5);
  }

  .video-content{
    display: flex;
    align-items: center;
    padding: 0px !important;
    flex-shrink: 1;
  }

  .sdbar-ins-txt p{
    font-size: 25px !important;
  }

}



.video-layout {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  justify-content: center;
  max-width: 100%;
  box-sizing: border-box;
  margin-bottom: 0px;
  padding-bottom: 120px !important;
  justify-items: center;
}


.video-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  width: 320px;
}

.video-thumbnail {
  width: 300px;
  height: 180px; 
  overflow: hidden;
  border-radius: 10px; 
  background: #000; 
}


.video-thumbnail img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
  transition: box-shadow 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, box-shadow 0.6s ease-in-out;
}


.video-thumbnail img:hover {
  transform: scale(1.08);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.5);
}

.video-thumbnail img:active {
  transform: scale(1.05); 
}


.video-text{
  display: flex;
}

.video-info {
  display: flex;
  align-items: center;
  margin-top: 5px;
  gap: 10px;
  overflow: hidden;  
  text-overflow: ellipsis;
  width: 300px;
  height: 80px;
}

.video-info h1{
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 3.6em; 
  line-height: 1.2em;
  font-size: 16px; 
  height: auto;
  padding: 1px;
  font-size: 20px;
}

.video-info img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  flex-shrink: 0;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); 
  transition: box-shadow 0.3s ease-in-out;
  cursor: pointer;
}


.video-info img:hover {
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.4);
}



.central-layout {
  position: fixed;
  top: 60px;
  left: 300px;
  width: calc(100vw - 300px); 
  height: calc(100vh - 60px); 
  overflow-y: auto;
  padding: 10px;
  margin-bottom: 0;
  padding-bottom: 0;
  background: linear-gradient(to bottom, white, #f1f1f1);
  z-index: 0;
}



.nav-central {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.nav-center button{
  width: 40px;
  height: 40px;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: none;
  transition: background-color 0.3s ease;
  margin: 0px 2px;
  position: relative;
}

.nav-center button:hover {
  background-color: #cccccc;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.nav-center button:active {
  background-color: red;
  transition: background-color 0.2s ease;
}

.button-link{
  padding: 8px 16px;
  margin: 5px;
  border-radius: 10px;
  font-weight: bold;
  background-color: #ebebeb;
  cursor: pointer;
}
.button-link:hover {
  background-color: #cccccc;
  transition: background-color 0.3s ease;
}

.button-link:visited {
  background-color: #000000;
  color: white;
}

.button-link:active {
  background-color: #000000;
  transition: background-color 0.2s ease;
  color: white
}




.sidebar-content{
  list-style: none;
  height: 90%;
  padding: 5px;
  margin: 0px;
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: start;
  font-size: 20px;
  position: relative;
  top: 2%;
}




.sidebar-content h1 {
  text-align: left;
  font-size: 100%;
  margin-left: 12px;
  margin-bottom: 15px;
  margin-top: 5Spx;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}




#logoimg {
  max-height: 70px;
}



.sidebar-h{
  display: flex;
  flex-direction: column;
}

.sidebar-h button{
  border: none;
  background-color: white;
  margin-bottom: 8px;
}


.sidebar-h button:hover {
  border: none;
  border-radius: 30px;
  background-color: #e0e0e0cc;
  transition: background-color 0.2s ease-in, border-radius 0.2s ease-in;
}



.sidebar-content img{
  width: 24px; 
  height: 24px;
  margin-right: 10px;
}

.sidebar-inside p{
  font-size: 15px;
  font-weight: normal;
  margin: 10px;
  transition: ease-in 0.1s font-weight 0.3s ease-in-out0.2;
}

.sidebar-inside:hover p {
  font-weight: bold;
  font-size: 15px;
}

.sidebar-inside{
  border-radius: 20px;
  margin: 5px;
  display: flex;
  align-items: center;
  text-align: center;
}

.sdbar-ins-img{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

.sdbar-ins-txt{
  display: flex;
  margin-left: 10px;
  width: 90%;
  justify-content: start;
}


.nav-right section{
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.nav-right button {
  margin: 8px;
  border-radius: 50px;
  padding: 8px;
  border: none;
  cursor: pointer;
}

#button-profile{

  background-color: white;
  padding: 1px;
  
}

.nav-right button:hover {
  background-color: #cccccc;
  transition: background-color 0.3s ease;
}



#cross-pic{
  max-height: 25px;
  margin-right: 10px;
}


.channel-pic{
  border-radius: 12px; 
  min-width: 50%;
  min-height: auto;
}



footer {
  position: fixed;
  bottom: 0;
  left: 0;
  max-height: 50px;
  overflow: hidden;
  width: 100%;
  background: rgba(29, 29, 29, 0.8); 
  backdrop-filter: blur(10px); 
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  padding: 10px 15px;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  z-index: 20;
}


footer:hover {
  background: rgba(34, 34, 34, 0.95);
  backdrop-filter: blur(12px);
}


.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  flex-wrap: wrap;
  text-align: center;
}

.footer-links {
  display: flex;
  gap: 20px;
}

.footer-links a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.footer-links a:hover {
  text-decoration: underline;
}

.mobile-navbar{
  display: none;
}

#profpic-menu{
  width: 100px;
  height: 100px;
  border-radius: 50px;
}


.personal-menu{
  position: absolute;
  top: 28px;
  right: 2px;
  padding: 20px;
  width: auto;
  height: auto;
  background:white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
  border: 2px solid rgb(238, 238, 238);
  z-index: 1;
}

.personal-menu h1{
  font-size: 20px;
  display: block;
  margin-top: 10px;
  width: 200px;
  height: 30px;
  text-align: center;
  font-weight: bold;
}

.personal-menu p {
  width: 200px;
  height: auto;
  margin: 0;
  padding: 0;
}

.menu-button {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  width: 200px;
}

.menu-button p {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 5px;
}

#change-pic{
  padding: 15px;
  font-size: 14px;
}


.notify-menu {
  position: absolute;
  top: 28px;
  right: 2px;
  padding: 20px;
  width: auto;
  height: auto;
  background:rgb(255, 255, 255);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  gap: 10px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
  font-size: 10px;
  border: 2px solid rgb(238, 238, 238);
  z-index: 1;
}

.notify-menu p {
  width: max-content;
  max-width: 200px;
  font-size: 12px;
}



.toggle[data-type="down"] {
  transform: rotate(0deg);
  transition: transform 0.2s ease-in-out;
}

.toggle[data-type="up"] {
  transform: rotate(180deg);
  transition: transform 0.2s ease-in-out;
}

.expand {
  left: 0px;
  width: 100%;
}

.hidden {
  display: none;
  /* background-color: red; */
}